<html>
    <header></header>
    <body>
        <form method="POST" enctype="multipart/form-data" >
           
           <h2>Choose Videos to encrypt/decrypt</h2> <input type="file" name="video" accept="video/*">
           <h2>Choose the key  </h2> <input type="text" name="key" >
            <input type="submit" value="encrypt" formmethod="POST" formaction="encrypt" >
            <input type="submit" value="decrypt" formmethod="POST" formaction="decrypt">
        </form>
    </body>
</html>
